/*Наши преимущества
Внимание к деталям\Пунктуальность\Планирование\Современные технологии*/
.benefits {
  display: flex;
  flex-wrap: wrap;
}
.benefits__item {
  width: calc((100% - 30px * 3) / 4);
  // margin-right: 30px;
  &:not(:last-child) {
    margin-right: 30px;
    // margin: 0;
  }
  // &:nth-child(4) {
  //   margin: 0;
  // }
}

/* Антена, часы, диаграмма,  Космонавт*/
.benefits__box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--other-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}
.benefits__icon {
  width: 70px;
  height: 70px;
}
.benefits__title {
  margin-top: 0;
  margin-bottom: 10px;
  width: 270px;
  margin-top: 0;
  margin-bottom: 10px;
  @include font(14px, 700, 1.14, 0.03em);
  text-align: left;
  text-transform: uppercase;
  color: var(--title-color);
}
.benefits__text {
  @include font(14px, 400, 1.71, 0.03em);
  text-align: left;
}
