/*Наши преимущества
Внимание к деталям\Пунктуальность\Планирование\Современные технологии*/
.benefits {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.benefits__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 15px * 4) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 15px * 8) / 4);
    margin: 15px;
  }
}

/* Антена, часы, диаграмма,  Космонавт*/
.benefits__box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--other-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}
.benefits__icon {
  width: 70px;
  height: 70px;
}
.benefits__title {
  margin-bottom: 10px;

  text-align: center;
  @include font(14px, 700, 1.14, 0.03em);
  text-transform: uppercase;
  color: var(--title-color);

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}
.benefits__text {
  @include font(14px, 400, 1.71, 0.03em);
  // text-align: left;
}
