/*====Наша команда====*/
.employees {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.employees__item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 15px * 4) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 15px * 8) / 4);
    margin: 15px;
  }

  background-color: var(--main-title-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.employees__img {
  // text-align: center;
  margin: auto;
}

.employees__border {
  padding: 30px 0px;
}
.employees__title {
  margin-bottom: 10px;

  @include font(16px, 500, 1.19, 0.03em);
  text-align: center;
  color: var(--title-color);
}
.employees__text {
  margin-bottom: 16px;
  @include font(16px, 400, 1.19, 0.03em);
  text-align: center;
}
