/*КАРТОЧКИ*/

.cards {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.cards__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 15px * 4) / 2);

    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 15px * 6) / 3);
    margin: 15px;
  }
}

.cards__link {
  display: block;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  transition: box-shadow 250ms
    cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
      0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.cards__headline {
  margin-bottom: 4px;
  color: var(--title-color);
  @include font(18px, 700, 2, 0.06e);
}

.cards__text {
  @include font(16px, 400, 1.88, 0.03em);
  color: var(--text-color);
}
.cards__sign {
  padding: 20px 24px;
  background: #ffffff;
  border-bottom: 1px solid var(--cards-border);
  border-right: 1px solid var(--cards-border);
  border-left: 1px solid var(--cards-border);

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-grow: 1;
  }
}

/*Скрыли выезжающую карточку  */
.cards__box {
  position: relative;
  overflow: hidden;
}
.cards__overlay {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  transition: transform 250ms
    cubic-bezier(0.4, 0, 0.2, 1);

  .cards__link:hover &,
  .cardss__link:focus & {
    transform: translateY(-100%);
  }
}

.cards__overlay-text {
  @include font(18px, 400, 1.56, 0.03em);
  @media screen and (max-width: 479px) {
    font-size: 4.5vw;
  }
  color: var(--main-title-color);
  padding: 0 24px;
}
