/*Чем мы занимаемся*/
.work {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.work__item {
  width: calc((100% - 15px * 6) / 3);
  margin: 15px;

  position: relative;
}

.work__subtitle {
  @include font(14px, 700, 1.14, 0.03em);
  text-transform: uppercase;
  color: var(--main-title-color);
}
.work__upper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}
