/*Чем мы занимаемся*/
.work {
  display: flex;
  flex-wrap: wrap;
}

.work__item {
  width: calc((100% - 30px * 2) / 3);
  // margin-right: 30px;

  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
    // margin: 0;
  }
}

.work__subtitle {
  @include font(14px, 700, 1.14, 0.03em);
  text-transform: uppercase;
  color: var(--main-title-color);
}
.work__upper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}
