/* Выровняли в ряд по центру*/
.filter {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

// justify-content: center;
// margin-bottom: 50px;

/* В списке кнопок добавмли пробелы по 8 */
// .filter__item + .filter__item {
//   margin-left: 8px;
// }
.filter__item {
  &:not(:last-child) {
    margin-right: 8px;
    margin-bottom: 15px;

    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &:nth-last-child(-n + 2) {
    @media screen and (max-width: 479px) {
      margin-bottom: 0;
    }
  }
}

.filter__button {
  padding: 6px 22px;
  @include font(16px, 500, 1.62, 0.03em);
  text-align: center;
  color: var(--title-color);
  background-color: var(--other-background-color);
  cursor: pointer;
  border-radius: 4px;
  border: transparent;

  transition: color 250ms
      cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms
      cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    // @include font(16px, 500, 1.62, 0.03em);
    text-align: center;
    color: var(--main-title-color);
    background-color: var(--accent-color);
    box-shadow: 0px 2px 2px 0px
        rgba(0, 0, 0, 0.12),
      0px 1px 2px 0px rgba(0, 0, 0, 0.08),
      0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
}

.filter__button-active {
  background-color: var(--accent-color);
  color: var(--main-title-color);
}
