/*Логотип в HEDER*/
.logo {
  display: block;
  min-height: 31px;
  font-family: Raleway, sans-serif;
  @include font(26px, 700, 1.19, 0.03em);
  color: var(--accent-color);
}
.header__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo--dark {
  color: var(--title-color);
}

.footer__logo {
  margin-bottom: 20px;
  min-height: 31px;
}
.logo--light {
  color: var(--main-title-color);
}
