.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding: 94px 0 94px 0;
  }
}
.section--padding {
  padding-top: 0;
}
.section--background-color {
  background-color: var(--other-background-color);
}

.section--desktop {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
