.social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
  // &:nth-child(4n) {
  //   margin-right: 0;
  // }
}
.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  @media screen and (max-width: 200px) {
    height: 100%;
    width: 100%;
  }

  transition: background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--main-title-color);
  }
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: var(--icon);

  transition: fill 250ms
    cubic-bezier(0.4, 0, 0.2, 1);

  /* ОДНОВРЕМЕННО при наведении
Меняет социальную сеть и кружочек ссылки  */
  .social__link:hover &,
  .social__link:focus & {
    fill: var(--main-title-color);
  }
}
.footer__social {
  margin-left: 70px;
}
.footer {
  .social__item {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
  }
}

.footer {
  .social__icon {
    fill: var(--main-title-color);
  }
}
