/*список не маркированный*/
// .list {
//   display: flex;
//   margin: 0;
//   padding: 0;
//   list-style: none;
// }

body {
  font-family: Roboto, sans-serif;
  background-color: var(--main-title-color);
  color: var(--text-color);
}
