:root {
  --main-title-color: #ffffff;
  --title-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --accent-button-color: #188ce8;
  --secondary-background-color: #2f303a;
  --other-background-color: #f5f4fa;
  --cards-border: #eeeeee;
  --border-color-main: #000000;
  --icon: #afb1b8;
  --background-color-cards-portf: rgba(
    33,
    150,
    243,
    0.9
  );
}
